@model IEnumerable<Project_.Models.Book>

<!DOCTYPE html>
<html>
<head>

</head>

@*This Webpage is made for the Guests/Clients/Admins who haven't Registered/SignIn*@

<link rel="stylesheet" href="~/Styles/style.css">
<body>

    <div class="image">
        <img src="~/Images/image-asset.jpeg" style="width: 110%;height:400px; position:absolute; left: -30px; z-index: 1;">
    </div>

    @*If the navigator wants to explore our collections he must sign in  before continuing to this process*@
    @*----------------------------------------------------------------------------------------------------*@

    <a href="~/Users/Edit"><button class="vc"> VIEW COLLECTION</button></a><br>

    @*Navigation Bar*@

    <nav>
        <a class="Maktabty" href="~/Users/Edit">Maktabty</a><img src="~/Images/phone.png" style="width: 15px; height:15px;position: absolute;left:290px;top: 21px;">
        <a class="links" href="~/Users/ContactUs_before">Contact Us</a><img src="~/Images/info.png" style="width: 15px; height:15px;position: absolute;left:400px;top: 21px;">
        <a class="links" href="~/Users/AboutUs_before" style="margin-right: 500px;">About Us</a>
        <a class="links" href="~/Users/Edit">Login</a>
        <a class="links" href="~/Users/Create">Register</a>
      
    </nav>

    @*Here this Webpage is responsible for Previewing the latest books that are just updated by any of the admins.*@
    @*------------------------------------------------------------------------------------------------------------*@

    <p style="text-align: center; font-size: xx-large; position: absolute; top: 70% ; right: 40%; left: 40%;"> <strong>LATEST BOOKS</strong></p>
    <div class="container">
        <div class="scrollmenu">
            <div class='img-container'>
                @foreach (var item in Model)
                {
                    <table style="display:inline">
                        <tr>

                            <th>
                                <img class="mystery" style="padding-right: 100px; display: inline-block;  position: relative; top: 95%; width: 250px; height: 350px; " src="@Url.Content(item.Image)" alt="img error">

                            </th>
                        </tr>
                        <tr>
                            <td style=" font-size:x-large ">
                                <strong>@Html.DisplayFor(modelItem => item.Book_Name)</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: large">
                                @Html.DisplayFor(modelItem => item.Genre)
                            </td>
                        </tr>
                    </table>
                }

            </div>

            @*Footer that contain some useful links*@

            <div class="lastpart" style="position: absolute ; top:500px">
                <li>
                    <strong style=" font-size: xx-large; margin-top: 5%;">Maktabty</strong><br>
                    <a href=""><img class="socialmedia" style=" padding-left: 2%;" src="~/Images/instagram.png" alt="instagram"></a>
                    <a href=""> <img class="socialmedia" src="~/Images/facebook.png" alt="facebook"></a>
                    <a href=""> <img class="socialmedia" src="~/Images/twitter (1).png" alt="twitter"></a>
                    <a href=""> <img class="socialmedia" src="~/Images/youtube.png" alt="youtube"></a>
                </li>
                <a href="~/Users/AboutUs_before"><li style="margin-left: 40%;color: #000;"> About Us</li></a>
                <a href="~/Users/ContactUs_before"><li style="margin-left: 40%; margin-top: 90px; color: #000;"> Contact Us</li></a>

            </div>
        </div>

</body>
</html>

